.toaster{
    position: fixed;
    transition: bottom 3s;
    color: white;
    line-height: 30px;
    font-size: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 0 10px;
}
.show-toaster{
    bottom: 0px;
}
.hide-toaster{
    bottom: -30px;
}
.toaster>span{
    cursor: pointer;
    float: right;
}